* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
 
    color: #e63946;
}
h2{
    color: #1d3557;
    /* color: #291F1E; */
    /* color: #FFB703; */
}
header {
    background-color: #a8dadc;
    /* color: #a8dadc; */
    padding: 15px;
}
p{
     color: #e29578;
    font-size: 1.5rem;
}
footer{
    margin-top: 30px;
    background-color: #a8dadc;
}
.section {
    margin-top: 30px;
    background-color: #457b9d;
    padding: 30px 0px 30px 0px;}

.canchas { 
    width:25rem;
    margin-top: 20px;
   
}
.article_productos {
    width: 10rem;
    
 
   }

.caja-articulo img{
box-shadow: 2px 2px 4px  rgba(33, 20, 221, 0.4);
padding: 5px;
border-radius: 5px;
margin: 5px 0px 5px 0px;

}
.formulario {
box-shadow: #e63946;
}


.menu .letra-azul{
    color:#0099FF;
}

.boton-submit{
color:white;
background-color: rgb(7, 61, 14);
border:0px;
border-radius: 5px;
padding: 5px 30px 5px 30px;
font-size: 18px;
display: block;


} 