$color_h1: #e63946;
$color_h2: #1d3557;
$color_primario: #a8dadc;
$color_parrafo: #e29578;
$color_menu:#0099FF;
$color_sombra:rgba(33, 20, 221, 0.4);
$color_background_card:rgba(217, 217, 217, 0.58);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    color: $color_h1;
}

h2 {
    color: $color_h2;
}
h3 {
    font-size: 20px;
}

p {
    color: $color_parrafo;
    font-size: 1.5rem;
}

.section {
    margin-top: 30px;
    background-color: $color_primario; // #457b9d;  
        padding: 30px 0px 30px 0px;
}

// @mixin img-sombreado(){
// box-shadow: 2px 2px 4px  $color_sombra;
// padding: 5px;
// border-radius: 5px;
// margin: 5px 0px 5px 0px;

// }
@mixin img-sombreado(){
box-sizing: border-box;
background: $color_background_card;
border: 1px solid white;
box-shadow: 12px 17px 51px $color_sombra;
backdrop-filter: blur(6px);
border-radius: 17px;
text-align: center;
cursor: pointer;
transition: all 0.5s;
display: flex;
align-items: center;
justify-content: center;
user-select: none;
font-weight: bolder;
color: black;

   &:hover{
    border: 1px solid black;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
}